<div class="container px-4 px-lg-5 mb-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div><h1 class="d-flex">Edit blog</h1></div>

    <%= render 'form', article: @article %>
  </div>
</div>
