<%= render Header::Component.new(image: image_url("header-image.jpeg"),
                                 heading: "View Component in Real World",
                                 subheading: "Growth#35 Project") %>

<p id="notice"><%= notice %></p>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <%= render Articles::ListItems::Component.with_collection(@articles) %>

      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
