<%= render Header::Component.new(image: image_url("write-blog.jpeg"),
                                 heading: "Write A Blog",
                                 subheading: "Publish to the world") %>

<div class="container px-4 px-lg-5 mb-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div><h1 class="d-flex">Create a blog</h1></div>

    <%= render 'form', article: @article %>
  </div>
</div>
