<article class="m-4">
  <h1 class="mb-4">ViewComponents blog post</h1>
  <h2 id="firstPost">#1 Button Primary</h2>
  <%= render(ButtonComponent.new(type: :primary, link: '#firstPost')) do %>
    Primary
  <% end %>
  <h2 id="secondPost">#2 Button Secondary</h2>
  <%= render(ButtonComponent.new(type: :secondary, link: '#secondPost')) do %>
    Secondary
  <% end %>
  <h2 id="secondPost">#2 Button Danger</h2>
  <%= render(ButtonComponent.new(type: :danger, link: '#thirdPost')) do %>
    Primary
  <% end %>
  <h2 id="fourthPost">#4 Button Link</h2>
  <%= render(ButtonComponent.new(type: :link, link: '#fourthPost')) do %>
    Link
  <% end %>
</article>
