#mainNav {
  position: absolute;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #dee2e6;
  background-color: $white;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  font-weight: 800;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link {
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  #mainNav .navbar-brand,
  #mainNav .nav-item {
    color: $white;
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    color: $white;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media (min-width: 992px) {
  #mainNav {
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    backface-visibility: hidden;
    transition: background-color 0.2s;
  }

  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -83px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }

  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: #0085a1;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085a1;
  }

  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }

  #mainNav .nav-user-info {
    padding: 1.25rem;
  }
}
